body {
    background-color: lightyellow;

}

.milkyWay{
  flex-wrap: wrap;
  align-content: center;
  display: inline-grid;
  /* display: grid; */
    /* grid-template-columns: auto auto auto; */
}

.planet {
    width: 400px;
    height: 450px;
    border: 1px solid black;
    display: inline-grid;
}

.pic {
    width: 200px;
    height: 200px;
    /* pointer-events: none; */
    /* position: absolute; */
     margin: auto;
}

.myhide {
    opacity: 0;

}

#red-x {

    float: right;
}

#search-field {

    width: 400px;
    font-size: 16px;
    margin: 20px;
}

.planet-image {
  display: block;
  width: 400px;
  height: 400px;
  margin: auto;
  font-size: 20px;
}